/*FONTS*/
@font-face {
    font-family: 'BrushScriptStd';
    src: url('../fonts/BrushScriptStd.otf');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/
.logo-bar{
    background:#00a4c7 ;
}
/*Logo text*/
.logo-bar .ge-logo .logo-text{
    border: 3px solid #000;
    width: 55%;
    margin-top: 15px;
    text-align: center;
    border-radius: 25% 0 24%;
    border-color: #fff;
}
/*follow us*/
.logo-bar .ge-logo .logo-text span{
    font-size: 34px;
    font-family: "BrushScriptStd";
    color: #000;
}
/*logo caption*/
.logo-bar .ge-logo p{
    color: #fff;
    font-family: BrushScriptStd;
    font-size: 17px;
}
/*search box*/
.ge-search-box{
    padding-top: 35px;
}
/*Social icons*/
.social{
    padding-top: 38px;
    padding-bottom: 17px;
}
.social ul{
    list-style: none;
    display: inline;
    padding: 0;
}
.social ul li{
    font-size: 20px;
    display: inline;
    padding-right: 10px;
}
.social ul li a{
    color: #000000;
    padding-left: 15px;
}
.social ul li a i:hover{
    color: #fff;
}
.social ul li span{
    color: #fff;
}

/*nav menu*/
.ge-nav-menu{
    background: #000;
    text-align: center;
    padding: 3px;
}
#navbar-toggle-cbox {
    display:none;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
.primary-header-menu ul li a:hover{
    color: #00a4c7;
}
.primary-header-menu ul {
    list-style: none;
    padding-left: 0;
}

.primary-header-menu ul li {
    display: inline;
}
/*primay ge-nav-menu*/
.primary-header-menu ul li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: unset;
    font-size: 19px;
    font-weight: 700;
}

/*FOOTER*/
.ge-blue-footer{
    background: #000;
    text-align: center;
}

.primary-footer-menu ul li a:hover{
    color: #000;
}
.primary-footer-menu ul {
    list-style: none;
    padding-top: 14px;
}

.primary-footer-menu ul li {
    display: inline;
}
/*primay ge-nav-menu*/
.primary-footer-menu ul li a {
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
/*social icons*/
.ge-blue-footer ul{
    list-style: none;
    padding-left: 0;
}
.ge-blue-footer ul li{
    display: inline;
}
.ge-blue-footer ul li a {
    text-decoration: none;
    color:  #fff;
    font-size: 13px;
}
.ge-blue-footer ul li a i{
    font-size: 25px;
    padding: 6px;
    color: #000;
}
.ge-blue-footer ul li a i:hover{
    color:#00a4c7 ;
}

/*hover social icons*/
.ge-blue-footer ul li a:hover{
    color: #000;
}

.ge-blue-footer .icon{
    background: #fff;
    padding: 3px;
    margin-right: 5px;
    width: 43px;
    height: 42px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}
.ge-blue-footer p{
    padding-left: 58px;
    color: #808080;
}

@media (max-width: 991px) {
    .logo-bar{
        text-align: center;
    }
    .logo-bar .ge-logo .logo-text{
        margin: auto;
        margin-top: 30px;
        width: 30%;
    }
    .ge-search-box {
        padding-top: 10px !important;
        padding-bottom: 5px !important;
        width: 100%;
        margin: auto;
    }
    .social{
        padding-top: 20px;
        padding-bottom: 17px;
    }
}
@media (max-width: 768px){
    .primary-header-menu ul li {
        display: block;
        text-align: right;
    }
}
@media (max-width: 530px) {
    .logo-bar .ge-logo .logo-text{
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-left: none;

    }

}